<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="targetExecutableName" value="emacs.exe" />

    <add key="editorDefault" value="runemacs.exe" />
    <add key="editorArgs" value="" />
    <add key="emacsClientDefault" value="emacsclientw.exe" />
    <add key="emacsClientArgs" value="-n" />

  </appSettings>
</configuration>
